<div class="container-fluid">
  <div *ngIf="!selected">
    <button
      (click)="showShortList = !showShortList"
      class="btn btn-primary btn-sm btn-block"
    >
      Toggle Compact List
    </button>
    <table *ngIf="!showShortList" class="table table-striped table-hover">
      <!--show list of games-->
      <thead class="thead thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <!-- <th>Description</th> -->
          <th>Developer</th>
          <th>Platform</th>
          <th>Release Date</th>
          <th>Completed</th>
          <th></th>
          <th>Hours To Complete</th>
          <th>Image URL</th>
          <th>Genre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <!--display table of games-->
          <td (click)="displayGame(game)">{{ game.id }}</td>
          <td (click)="displayGame(game)">{{ game.name }}</td>
          <!-- <td (click)="displayGame(game)">{{ game.description }}</td> -->
          <td (click)="displayGame(game)">{{ game.developer }}</td>
          <td (click)="displayGame(game)">{{ game.platform }}</td>
          <td (click)="displayGame(game)">{{ game.releaseDate | date }}</td>
          <td *ngIf="game.completed">Yes</td>
          <td *ngIf="!game.completed">No</td>
          <td>
            <input
              type="checkbox"
              name="completed"
              [(ngModel)]="game.completed"
              (change)="updateGame(game)"
            />
          </td>

          <!-- <td (click)="displayGame(game)">{{ game.completed }}</td> -->
          <td *ngIf="game.completed" (click)="displayGame(game)">
            {{ game.hoursToComplete }}
          </td>
          <td *ngIf="!game.completed" (click)="displayGame(game)">N/A</td>
          <td (click)="displayGame(game)">
            <img [src]="game.imgUrl" style="width:150px;height:225px;" />
          </td>
          <td (click)="displayGame(game)">{{ game.genre }}</td>
          <td (click)="deleteTodo(game.id)">
            <button class="btn btn-danger">X</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="showShortList" class="table table-striped table-hover">
      <!--show SHORT list of games-->
      <thead class="thead thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Developer</th>
          <th>Platform</th>
          <th>Completed</th>
          <th></th>
          <th>Genre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td (click)="displayGame(game)">{{ game.id }}</td>
          <td (click)="displayGame(game)">{{ game.name }}</td>
          <td (click)="displayGame(game)">{{ game.developer }}</td>
          <td (click)="displayGame(game)">{{ game.platform }}</td>
          <td *ngIf="game.completed">Yes</td>
          <td *ngIf="!game.completed">No</td>
          <td>
            <input
              type="checkbox"
              name="completed"
              [(ngModel)]="game.completed"
              (change)="updateGame(game)"
            />
          </td>

          <!-- <td (click)="displayGame(game)">{{ game.completed }}</td> -->
          <td (click)="displayGame(game)">{{ game.genre }}</td>
          <td (click)="deleteTodo(game.id)">
            <button class="btn btn-danger">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!selected">
    <!--add a game-->
    <button
      *ngIf="!addingGame"
      class="btn btn-primary"
      (click)="addingGame = true"
    >
      Add A Game
    </button>
    <div *ngIf="addingGame">
      <form>
        <div class="form-group">
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="form-control"
            [(ngModel)]="newGame.name"
          /><br />
          <input
            type="text"
            name="developer"
            placeholder="Developer"
            class="form-control"
            [(ngModel)]="newGame.developer"
          /><br />
          <input
            type="text"
            name="platform"
            placeholder="Platform"
            class="form-control"
            [(ngModel)]="newGame.platform"
          /><br />
          <input
            type="text"
            name="description"
            placeholder="Description"
            class="form-control"
            [(ngModel)]="newGame.description"
          /><br />
          <input
            type="date"
            name="releaseDate"
            value="Release Date"
            class="form-control"
            [(ngModel)]="newGame.releaseDate"
          /><br />
          <label for="completed">Completed: </label>
          <input
            type="checkbox"
            name="completed"
            class="form-control"
            [(ngModel)]="newGame.completed"
          />
          <br />
          <input
            type="text"
            name="hoursToComplete"
            placeholder="Hours To Complete"
            class="form-control"
            [(ngModel)]="newGame.hoursToComplete"
          /><br />
          <input
            type="text"
            name="genre"
            placeholder="Genre"
            class="form-control"
            [(ngModel)]="newGame.genre"
          /><br />
          <input
            type="text"
            name="imgUrl"
            placeholder="Image URL"
            class="form-control"
            [(ngModel)]="newGame.imgUrl"
          /><br />
          <button
            class="btn btn-secondary"
            (click)="newGame = null; addingGame = false"
          >
            Cancel
          </button>
          <button class="btn btn-success" (click)="addGame(newGame)">
            Sumbit
          </button>
          <!-- <input type="submit" value="Add A Game"  (click)="addGame(newGame)"/> -->
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8" id="displaySelected">
      <div (click)="(selected && !editGame)" *ngIf="selected">
        <!--show one game-->
        <span>Game ID: {{ selected.id }}</span> <br />
        <span>Title: {{ selected.name }}</span> <br /> <br>
        <span>Description: {{ selected.description }}</span> <br /> <br>
        <span>Developer: {{ selected.developer }}</span> <br />
        <span>Platform: {{ selected.platform }}</span> <br />
        <span>Release Date: {{ selected.releaseDate | date }}</span> <br />
        <span>Completed: {{ selected.completed }}</span> <br />
        <span>Hours To Complete: {{ selected.hoursToComplete }}</span> <br />
        <span>Genre: {{ selected.genre }}</span> <br />
        <img [src]="selected.imgUrl" style="width:200px;height:300px;" /> <br />
        <button class="btn btn-secondary" (click)="disableTable(); editGame = null;">Back</button>
        <button class="btn btn-warning" (click)="setEditGame()">Edit</button>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div *ngIf="editGame">
    <!--edit a game-->
    <h2>ID: {{ editGame.id }}</h2>
    <form>
      <div class="form-group">
        <label for="name">Name: </label>
        <input
          type="text"
          name="name"
          class="form-control"
          [(ngModel)]="editGame.name"
        /><br />

        <label for="developer">Developer: </label>
        <input
          type="text"
          name="developer"
          class="form-control"
          [(ngModel)]="editGame.developer"
        /><br />

        <label for="platform">Platform: </label>
        <input
          type="text"
          name="platform"
          class="form-control"
          [(ngModel)]="editGame.platform"
        /><br />

        <label for="description">Description: </label>
        <input
          type="text"
          name="description"
          class="form-control"
          [(ngModel)]="editGame.description"
          style="width: 200px;"
        /><br />

        <label for="releaseDate">Release Date: </label>
        <input
          type="date"
          name="releaseDate"
          class="form-control"
          value="editGame.releaseDate"
          [(ngModel)]="editGame.releaseDate"
        /><br />

        <label for="completed">Completed: </label>
        <input
          type="checkbox"
          name="completed"
          class="form-control"
          value="editGame.completed"
          [(ngModel)]="editGame.completed"
        />
        <br />

        <label for="hoursToComplete">Hours To Complete: </label>
        <input
          type="text"
          name="hoursToComplete"
          class="form-control"
          [(ngModel)]="editGame.hoursToComplete"
        /><br />

        <label for="genre">Genre: </label>
        <input
          type="text"
          name="genre"
          class="form-control"
          [(ngModel)]="editGame.genre"
        /><br />

        <label for="imgUrl">Image URL: </label>
        <input
          type="text"
          name="imgUrl"
          class="form-control"
          [(ngModel)]="editGame.imgUrl"
        /><br />

        <button class="btn btn-secondary" (click)="editGame = null">
          Cancel
        </button>
        <button class="btn btn-warning" (click)="updateGame(editGame)">
          Save
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="!selected">
    <span
      >Average time spent on completed games:
      {{ avgGameLength() | number: "1.1-2" }} hours
    </span>
  </div>
</div>
